---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?food=italian&limit=1&location=pueblo,co&sort_by=rating
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 8MZ0n_RVEHBP3jYR4nAFdfBtASqQnXQyeAbwjILti1FwTS5z9QWhfbxIyc9i4ROAgYzIq5Ze6_c6J4wM-9ahiXeMuVXWJy8Jo6fZ2XhQ1j-NdRG92ZmIbiOAB4-lZXYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - feeba296002ce56d
      X-Routing-Service:
      - routing-main--useast1-74f644dc4b-gtk45; site=public_api_v3
      Ratelimit-Dailylimit:
      - '500.0'
      Ratelimit-Remaining:
      - '493.0'
      Ratelimit-Resettime:
      - '2024-01-16T00:00:00+00:00'
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-92-52-useast1aprod
      X-Extlb:
      - 10-65-92-52-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "OFX_AW60mL82nnyfyoRvqA", "alias": "pasta-cottage-pueblo",
        "name": "Pasta Cottage", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/-U3W1BXJcmCaHjDkO_1o1Q/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/pasta-cottage-pueblo?adjust_creative=ZOFP8Q_dmW54CJm9C_QUfg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=ZOFP8Q_dmW54CJm9C_QUfg",
        "review_count": 11, "categories": [{"alias": "italian", "title": "Italian"},
        {"alias": "chicken_wings", "title": "Chicken Wings"}], "rating": 5.0, "coordinates":
        {"latitude": 38.23984, "longitude": -104.61524}, "transactions": ["delivery"],
        "price": "$", "location": {"address1": "1525 E Evans Ave", "address2": "",
        "address3": "", "city": "Pueblo", "zip_code": "81004", "country": "US", "state":
        "CO", "display_address": ["1525 E Evans Ave", "Pueblo, CO 81004"]}, "phone":
        "+17195640095", "display_phone": "(719) 564-0095", "distance": 4986.661469303835}],
        "total": 388, "region": {"center": {"longitude": -104.5733642578125, "latitude":
        38.27035217485165}}}'
  recorded_at: Mon, 15 Jan 2024 21:02:50 GMT
recorded_with: VCR 6.2.0
